@media (max-width: 1199.98px) {
	section.features img {
	  	margin-top: 54px;
	}
	.feature-all-wrap h1 {
		font-size: 36px;
		margin-bottom: 30px;
	}
	.contact-item {
	  margin: 0 0 15px;
	}
	.well.client-wall{
		padding: 19px 20px;
	}
	.well.client-wall .review-word{
		font-size: 14px;
	}
	.well.client-wall img{
		margin-bottom: 5px;
	}
	.well.client-wall .review-word,
	.client-rating {
		margin-bottom: 10px;
	}
	.well.client-wall h4{
		font-size: 16px;
	}
	section.team .frontside .card, 
	section.team .backside .card {
	  	min-height: 342px;
	}
}

@media (max-width: 991.98px) { 
	.sps--abv.has-th{
	    top: 50px;
	}
	.flex-row-reverse {
	  	background: #f8f8f8;
	  	padding: 0 15px;
	}
	.navbar-brand img {
	  	width: 150px;
	}
	.feature-wrap{
		padding: 0 0 0 50px;
	}
	.collection-text h1 {
		font-size: 32px;
		line-height: 38px;
		padding-top: 12px;
	}
	.collection-text a{
		display: none;
	}
	.review-slider{
		margin-top: 30px;
	}
	.review-slider.owl-carousel .owl-dots{
		position: inherit;
		padding-bottom: 10px;
		margin-top: 0 !important;
		right: inherit;
		top: inherit;
	}
}

@media (max-width: 767.98px) {
	section {
	  padding: 75px 0;
	}
	.banner-content {
	  margin: 0 auto;
	  max-width: 295px;
	}
	.banner-content h1.header-title-text {
		font-size: 40px;
		line-height: 40px;
		text-indent: 0;
		margin-bottom: 10px;
	}
	.banner-content h1.header-title-text span {
		font-size: 30px;
		text-indent: 0;
	}
	.banner-content p.header-des-text{
		margin-bottom: 15px;
	}
	.title-wrap .section-title-big{
		font-size: 32px;
		line-height: 32px;
	}
	.feature-all-wrap h1 {
		font-size: 32px;
		line-height: 34px;
	}
	section.why-us .feature-wrap{
		margin-bottom: 30px;
	}
	section.why-us .feature-wrap.mrb-0{
		margin-bottom: 0 !important;
	}
	.collection-text{
		margin-bottom: 30px;
	}
	.collection-text h1 {
		font-size: 32px;
		line-height: 38px;
		padding-top: 0;
	}
	section.team .frontside .card, 
	section.team .backside .card {
	  	min-height: 370px;
	}
	.pricing-wrap h2{
		font-size: 2.5rem
	}
	.subscribe-form input[type="submit"] {
		margin-top: 15px;
		margin-left: 0;
	}
	.contact-form-box {
		margin-top: 30px
	}
}

@media (max-width: 575.98px) {
	header#top-header{
		margin-bottom: 50px;
	}
	.navbar-expand-lg > .container, 
	.navbar-expand-lg > .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.sps--abv.has-th{
		top: 90px;
	}
	section {
	  padding: 50px 0;
	}
	section.home{
		padding-top: 75px !important;
	}
	.banner-content {
		margin: 0 auto;
		max-width: 268px;
	}
	.banner-content h1.header-title-text {
		font-size: 34px;
		line-height: 34px;
		text-indent: 0;
		margin-bottom: 10px;
	}
	.banner-content h1.header-title-text span {
		font-size: 24px;
		text-indent: 0;
	}
	.banner-content p.header-des-text{
		margin-bottom: 10px;
	}
	.button-holder .btn.btn-custom {
	  margin: 5px 5px 2px 0;
	}
	.btn {
	  padding: 6px 10px;
	}
	.owl-theme .owl-dots .owl-dot span{
		margin: 4px;
	}
	.well.client-wall{
		height: auto;
		padding: 20px;
	}
	.well.client-wall h4{
		font-size: 14px;
	}
	section.team .frontside .card, 
	section.team .backside .card {
	  	min-height: 320px;
	}
	.subscribe-form input[type="email"] {
		width: 100%;
	}
	.social-icon{
		margin-right: 2px;
	}
	.modal-title{
		font-weight: 0.8rem;
	}
	.modal-body h4{
		font-size: 18px;
	}
	section.faq #accordion .card{
		letter-spacing: 0;
	}
}